h1 {
  color: rgba(255, 255, 255, 0.836);
  letter-spacing: 30px;
  font-family: 'Do Hyeon', sans-serif;
  text-align: center;
  font-size: 5em;
}
img {
  display: block;
  margin: 50px auto;
  width: 25%;
  height: 25%;
}
